{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->


    <title> - 主页示例</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>资产登记</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="djAlert" class="alert alert-info" style="display:none">
                            此处可加入说明文档！
                        </div>
                    <div class="container">
                        <form role="form" class="" id="zcdj">
                            {% csrf_token %} 
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">资产编号：</label>
                                <div class="col-sm-4 p-0">
                                    <input type="text" name="number" class="form-control p-1" required="" placeholder="资产编号">
                                </div>
                                <label class="col-sm-2 col-form-label text-right">分类名称：</label>
                                <div class="col-sm-4 p-0">
                                    <select class="form-control p-1" name="type_name" required="请选择分类">
                                        <option>选项 1</option>
                                        <option>选项 2</option>
                                        <option>选项 3</option>
                                        <option>选项 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">规格型号：</label>
                                <div class="col-sm-4 p-0">
                                    <input type="text" name="model" class="form-control p-1" required="" placeholder="设备型号">
                                </div>
                                <label class="col-sm-2 col-form-label text-right">资产物理位置：</label>
                                <div class="col-sm-4 p-0">
                                    <input type="text" name="pos" class="form-control p-1"  placeholder="摆放位置">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">当前机构：</label>
                                <div class="col-sm-4 p-0">
                                    <select class="form-control p-1" name="depart_name" required="请选择部门">
                                        <option>选项 1</option>
                                        <option>选项 2</option>
                                        <option>选项 3</option>
                                        <option>选项 4</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 col-form-label text-right">IP地址：</label>
                                <div class="col-sm-4 p-0">
                                    <input type="text" name="ip" class="form-control p-1"  placeholder="设备IP">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">当前状态：</label>
                                <div class="col-sm-4 p-0">
                                    <label class="radio-inline col-form-label">
                                        <input type="radio" checked value="2" id="optionsRadios1" name="status">待用</label>
                                    <label class="radio-inline col-form-label">
                                        <input type="radio" value="1" id="optionsRadios2" name="status">在用</label>
                                    <label class="radio-inline col-form-label">
                                        <input type="radio" value="3" id="optionsRadios3" name="status">待报废</label>
                                </div>
                                <label class="col-sm-2 col-form-label text-right">备注：</label>
                                <div class="col-sm-4 p-0">
                                <textarea id="ccomment" name="descr" class="form-control p-1" aria-required="true"></textarea></div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-center pt-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <button class="btn btn-secondary" type="reset">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>批量导入</h5>
                    
                </div>
                <div class="ibox-content">
                    <div id="uploadAlert" class="alert alert-info" style="display:none">
                        此处可加入说明文档！
                    </div>
                    <div id="file-pretty">
                        <from class="form-group">
                            {% csrf_token %} 
                            <label class="font-noraml">文件选择（单选）</label>
                            <input type="button" class="btn btn-light btn-sm float-right" value="模板下载" src="">
                            <input type="file" class="form-control" id="file_upload">
                        </form>
                        
                    </div>
                </div>
            </div>

    </div>
    <!-- 全局js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.min.js' %}"></script>
    <!-- 自定义js -->
    <script src="{% static 'js/content.js' %}"></script>
    <!--flotdemo-->

</body>

</html>
